@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  background-color: #111;
}

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }


.pie-container {
	margin-top: 6%;
  transition: padding 0.7s ease;
  padding: 10px 13%;
  margin-bottom: 10%;
  
}
    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
   img {
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
   }
 
.textcols {
	white-space: nowrap;
	font-size: 0;
}
.textcols-item {
	white-space: normal;	
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin-right: 3%;
	font-size: 14px;
}
.textcols .textcols-item:last-child {
	margin-right: 0 ;
}

section{
  text-align:center;
}
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

table {
	margin-bottom: 10%;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}

.main-header {
    background: #21232a;
    position: relative;
	display: table;
    width: 100%;
    height: 150px;
    z-index: 9999;
    padding: 20px 0;
    left: 0;
    top: 0;
}

.main-footer {
    background: #21232a;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;

}

.block-cell {
   display: table-cell;
   text-align: center;
   object-fit: scale-down;
   vertical-align: middle;
}

.flex-parent {
	margin-top: 10%;
	margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 100px;
  max-width: 1000px;
  position: relative;
  z-index: 0;
}
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;

}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;

  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}



.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid white;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
.input {
  width: 25px;
  height: 25px;
  background-color: #2C3E50;
  position: relative;
  border-radius: 50%;
}
.input:hover {
  cursor: pointer;
}
.input::before, .input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2C3E50;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}
.input::before {
  left: calc(-4vw + 12.5px);
}
.input::after {
  right: calc(-4vw + 12.5px);
}
.input.active {
  background-color: #2C3E50;
}
.input.active::before {
  background-color: #2C3E50;
}
.input.active::after {
  background-color: #AEB6BF;
}
.input.active span {
  font-weight: 700;
}
.input.active span::before {
  font-size: 18px;
}
.input.active span::after {
  font-size: 20px;
}
.input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
  background-color: #AEB6BF;
}
.input span {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.input span::before, .input span::after {
  visibility: visible;
  position: absolute;
  left: 50%;
}
.input span::after {
  content: attr(data-year);
  top: 25px;
  transform: translateX(-50%);
  font-size: 18px;
}
.input span::before {
  content: attr(data-info);
  top: -120px;
  width: 205px;
  transform: translateX(-25px) rotateZ(-45deg);
  font-size: 16px;
  text-indent: -10px;
}

.description-flex-container {
  width: 80vw;
  font-weight: 400;
  font-size: 22px;
  margin-top: 100px;
  max-width: 1000px;
  min-height: 150px;
}
.description-flex-container p {
  margin-top: 0;
  display: none;
}
.description-flex-container p.active {
  display: block;
}

@media (min-width: 1250px) {
  .input::before {
    left: -37.5px;
  }

  .input::after {
    right: -37.5px;
  }
}
@media (max-width: 850px) {
  .input {
    width: 17px;
    height: 17px;
  }
  .input::before, .input::after {
    height: 3px;
  }
  .input::before {
    left: calc(-4vw + 8.5px);
  }
  .input::after {
    right: calc(-4vw + 8.5px);
  }
}
@media (max-width: 600px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 15vh;
  }

  .input {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
    background-color: #AEB6BF;
  }
  .input::before, .input::after {
    content: none;
  }
  .input span {
    width: 100%;
    height: 100%;
    display: block;
  }
  .input span::before {
    top: calc(100% + 5px);
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
  .input span::after {
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ECF0F1;
  }

  .description-flex-container {
    margin-top: 30px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  body {
    min-height: 950px;
  }
}

#pieChart {
  max-width: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  counter-reset: break-point 80;
}
#pieChart svg {
  overflow: visible;
  transition: width 0.7s ease;
}
#pieChart path {
  cursor: pointer;
}

#pieText {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#pieText .panel {
  background-color: #111;
  border: groove 4px #222;
  box-shadow: 8px 10px 20px #000, 4px 5px 25px #000;
  width: 100%;
  height: 60%;
  border-radius: 7px;
  padding: 0 3px;
  float: left;
  transition: height 0.7s ease, padding 0.7s ease;
  perspective: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  overflow: hidden;
  transform-style: preserve-3d;
}

#segmentTitle, #segmentText {
  text-shadow: 1px 1px 3px #000, 1px 1px 3px #000;
  text-align: center;
}

#segmentTitle {
  transition: padding 0.7s ease;
  padding: 20px;
  font-size: calc( 19px + (35 - 19) * (100vw - 200px) / (1314 - 200));
}
@media screen and (max-width: 200px) {
  #segmentTitle {
    font-size: 19px;
  }
}
@media screen and (min-width: 1314px) {
  #segmentTitle {
    font-size: 35px;
  }
}

#segmentText {
  width: 100%;
  transition: padding 0.7s ease, line-height 0.7s ease;
  padding: 15px 20px 20px;
  font-size: calc( 14px + (21 - 14) * (100vw - 200px) / (1314 - 200));
  line-height: 28px;
}
@media screen and (max-width: 200px) {
  #segmentText {
    font-size: 14px;
  }
}
@media screen and (min-width: 1314px) {
  #segmentText {
    font-size: 21px;
  }
}

@media (max-width: 360px) {
  div.pie-container {
    padding: 10px 12%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 40;
  }
  div.pie-container #pieChart svg {
    width: 100%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 230px;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 2px 4px 4px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 2px 4px 4px;
    line-height: 16px;
  }
}
@media (min-width: 360.02px) and (max-width: 442px) {
  div.pie-container {
    padding: 10px 10%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 53;
  }
  div.pie-container #pieChart svg {
    width: 70%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 210px;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 4px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 4px;
    line-height: 18px;
  }
}
@media (min-width: 442.02px) and (max-width: 575.98px) {
  div.pie-container {
    padding: 10px 10%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 60;
  }
  div.pie-container #pieChart svg {
    width: 70%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 200px;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 4px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 0 4px 4px;
    line-height: 21px;
  }
}
@media (min-width: 576px) and (max-width: 637.98px) {
  div.pie-container {
    padding: 10px 12%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 70;
  }
  div.pie-container #pieChart svg {
    width: 60%;
  }
  div.pie-container #pieText {
    margin-top: 20px;
  }
  div.pie-container #pieText .panel {
    padding: 0;
    height: 205px;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 8px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 0 8px 8px;
    line-height: 24px;
  }
}
@media (min-width: 638px) and (max-width: 767px) {
  div.pie-container {
    padding: 10px 15%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 80;
  }
  div.pie-container #pieChart svg {
    width: 60%;
  }
  div.pie-container #pieText {
    margin-top: 20px;
  }
  div.pie-container #pieText .panel {
    padding: 0 3px;
    height: 270px;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 15px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 15px;
    line-height: 27px;
  }
}
@media (min-width: 767.02px) and (max-width: 965px) {
  div.pie-container {
    padding: 10px 4%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 50;
  }
  div.pie-container #pieText .panel {
    height: 82%;
    padding: 0;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 8px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 0 8px 8px;
    line-height: 23px;
  }
}
@media (min-width: 965.02px) and (max-width: 1314px) {
  div.pie-container {
    padding: 10px 5%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 60;
  }
  div.pie-container #pieText .panel {
    height: 70%;
  }
  div.pie-container #pieText .panel #segmentTitle {
    padding: 10px;
  }
  div.pie-container #pieText .panel #segmentText {
    padding: 5px 10px 10px;
  }
}
@media (min-width: 1314.02px) and (max-width: 1480px) {
  div.pie-container {
    padding: 10px 8%;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 70;
  }
  div.pie-container #pieText .panel #segmentText {
    padding-top: 10px;
  }
}